$red : #e73640;
$blue : #283583;

@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src:
    local('Average Regular'),
    local('Average-Regular'),
    url(../fonts/average.woff) format('woff'),
    url(../fonts/average.ttf) format('truetype'),
    url(../fonts/average.eot) format('eot');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Source Sans Pro Regular'),
    local('SourceSansPro-Regular'),
    url(../fonts/sourcesanspro.woff) format('woff'),
    url(../fonts/sourcesanspro.ttf) format('truetype'),
    url(../fonts/sourcesanspro.eot) format('eot');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src:
    local('Source Sans Pro SemiBold'),
    local('SourceSansPro-SemiBold'),
    url(../fonts/sourcesanspro600.woff) format('woff'),
    url(../fonts/sourcesanspro600.ttf) format('truetype'),
    url(../fonts/sourcesanspro.eot) format('eot');
}

* {
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: 0;
}

.header {
  text-align: center;
  width: 100%;
}

.content-wrapper::before {
  content: " ";
  width: 91%;
  margin: 0 auto;
  height: 4px;
  border-radius: 1em;
  background-color: $red;
  display: block;
}

.left-half {
  width: 50%;
  height: 190px;
  overflow-y: visible;
  float: left;
  position: relative;
  /* temporary workaround against backdrop making left menu item unclickable */
  z-index: -1;

  & > .decorator {
    right: -245px;
    top: 0;
    overflow-x: hidden;
    overflow-y: visible;
    position: absolute;
  }
}

.kontaktlinks {
  float: right;

  & a:link,
  & a:active,
  & a:visited,
  & a:hover {
    color: #fff;
  }
}

fieldset {
  border: none;
}

.tos {
  color: $blue;
  background-color: #fff;
  text-align: left;
  padding: 1em;
}

.tos p {
  padding-bottom: .325em;
}

.widerruf {
  border: none;
  padding: 0;

  & td {
    white-space: nowrap;
    border: none;
    padding: 0 .125em .5em 0;
  }
}

.logo {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  clear: both;
}

ul.tablist {
  height: auto;
  list-style: none;
  margin: 1em 0 .125em 0;
  overflow: visible;
  padding: 0;

  & li {
    list-style: none;
    display: inline-block;
    margin: 0 4.25% 0 4.25%;
    width: 9%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & a.active {
      border-radius: 50% 50% 0 0;
      margin-bottom: -10%;
      padding: 50% 0 60% 0;
      background-position: 50% 40%;
    }

    &:nth-child(even) a {
      background-color: $blue;
    }
  }

  & a {
    width: 100%;
    margin: 0;
    background-color: $red;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 62% 62%;
    border-radius: 50%;
    height: 0;
    display: inline-block;
    padding: 50% 0;
  }
}

.link-ueber {
  background-image: url(../img/icon-ueber-mich.svg);
}

.link-b {
  background-image: url(../img/icon-krawatte.svg);
}

.link-leistungen {
  background-image: url(../img/icon-kleiderbuegel.svg);
}

.link-kontakt {
  background-image: url(../img/icon-kontakt.svg);
}

.link-media {
  background-image: url(../img/icon-impressionen.svg);
}

.tab {
  padding: 1em;
  width: 100%;
  max-width: 88%;
  margin: -.125em auto 0 auto;
  border-radius: .5em;
  text-align: left;
  min-height: 260px;
  overflow: hidden;
  /* transition height kann mann über eine transition: background emulieren
     vgl. http://codepen.io/LFeh/pen/ICkwe
   */
  /* iOS fixes that make no difference: */
  position: relative;
  z-index: 1000;
  display: block;

  & h2 {
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: .25em;
  }

  & article {
    font-size: 1.025em;
    display: block;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    transition: transform .5s ease;
    left: 0;
    /* use 3d to handle transform by GPU acceleration
       and left to make it work on iPhone
     */
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    webkit-backface-visibility: hidden;

    & p {
      margin-bottom: 1em;
    }
  }
}

.tab.fadetext article {
  left: -100%;
  transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
}

.tab-red {
  background-color: $red;
  color: #fff;
}

.tab-blue {
  background-color: $blue;
  color: #fff;
}

#kontakt {
  text-align: center;
}

.vcard {
  margin: -1.5em auto 0 auto;
  padding: 0 0 2.5% 0;

  & h1,
  .footer .vcard h2,
  .footer .vcard a {
    display: inline-block;
    min-height: 95px;
    margin: 0 0.5em 0 0.5em;
  }

  & h1 img {
    /* Name als Grafik wegen Schriftart */
    max-width: 100%;
    width: 350px;
    height: 95px;
  }

  & .cap {
    font-size: 1em;
  }

  & h2 {
    font-weight: normal;
  }

  & a,
  .jobtitle {
    font-size: 1.375em;
  }

  & a,
  .jobtitle,
  .email,
  .telephone {
    display: block;
    font-family: Average, serif;
  }

  & a,
  & a:link,
  & a:visited,
  & a:hover,
  & a:active {
    color: #fff;
    text-decoration: none;
  }
}

.jobtitle {
  margin-bottom: 1em;
}

.telephone {
  padding: .25em .25em .5em .25em;
}

.sent {
  font-size: 1.5em;
  font-family: Average, serif;
  padding: 1em;
  text-align: center;
}

.gallery {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;

  & .square-circle {
    background-color: #fff;
    border-radius: 50%;
  }

  & img {
    /* pragmatisch quadratisch: mehr als 100% erlauben und den Rest mit Overflow abschneiden */
    width: 30%;
    height: auto;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 1.25em;
    border-radius: 1.25em;

    &:first-child, &:nth-child(3n+1) {
      margin-left: 0;
    }

    &:last-child, &:nth-child(3) {
      margin-right: 0;
    }
  }
}

#instafeed {
  text-align: center;

  & img {
    max-width: 32%;
    margin-bottom: 0.25em;
  }

  #instafeed a {
    margin-right: 1%;
    border-radius: 50%;

    &:nth-child(3n),
    .gallery > div:nth-child(3n) {
      margin-right: 0;
    }
  }
}

/* square box for responsive containers guaranteed to be square size */
.square-box {
  position: relative;
  width: 32%;
  margin-right: 1%;
  display: inline-block;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  text-align: center;
}

.float {
  float: left;
}

.floatcircle {
  float: left;
  margin-right: 1em;
  /* css shapes for nice rounded float - not supported yet in FF and edge */
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
}

.hidden {
  display: none;
}

.herz-und-faden {
  width: 1280px;
  height: 928px;
}

#agb h4 {
  margin: 1em 0 0.5em 0;
}

.contactform {
  margin: .5em auto 1em auto;
  width: 88%;
  text-align: center;

  & label {
    display: block;
    width: 100%;
  }

  & textarea {
    height: 5em;
  }

  & input,
  & textarea,
  .submit {
    border: solid 1px silver;
    border-radius: .5em;
    font-size: 1.25em;
    padding: .25em .5em .25em .5em;
    margin: 0 0 .25em -.5em;
    width: 100%;
  }

  & .submit {
    background-color: $blue;
    border: none;
    color: #fff;
    padding: .5em;
  }

  & .captcha {
    display: none;
  }
  & .homepage {
    opacity: 0.1;
    height: 1px;
    overflow: hidden;
  }
}

/* media queries */

/* Header Logo: IE11,IE10 fallback weil responsive img srcset nicht supported
   + relativer Pfad funktioniert im IE nicht!
 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .decorator {
    background-image: url(/img/herz-kleider-ordnung.svg);
    background-size: 1280px 928px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
  }

  .herz-und-faden {
    visibility: hidden;
  }
}

@media screen and (max-width: 520px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .decorator {
    background-image: url(/img/herz-kleider-ordnung.svg);
    background-size: 1100px 797px;
  }
}
/* Breakpoints */
@media screen and (max-width: 660px) {
  ul.tablist li {
    width: 12%;
    margin: 0 3% 0 3%;
  }
  /* 2 column gallery */
  .gallery img {
    width: 48%;
    &:nth-child(3n+1) {
      margin-left: 2%;
    }
    &:first-child, &:nth-child(2n+1) {
      margin-left: 0;
    }
    &:last-child, &:nth-child(2) {
      margin-right: 0;
    }
    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {
  /* 1 column gallery */
  .gallery img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .clearfix-wrapper {
    padding-bottom: 9em;
    max-width: 100%;
    overflow: hidden;
  }

  .vcard h1,
  .footer .vcard h2 {
    display: block;
  }

  /* Logo kleiner */
  .left-half {
    height: 166px;
  }

  .left-half > .decorator {
    right: -215px;
  }

  .herz-und-faden {
    width: 1100px;
    height: 797px;
  }

  .floatcircle {
    width: 50%;
    height: 50%;
  }

  ul.tablist {
    /* -1px as workaround for unwanted whitespace above tab
       due to -10% below tablink not enough on some small screen sizes */
    margin: 1em 0 -1px 0;

    & li {
      margin: 0 2% 0 2%;
      width: 14%;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .kontaktlinks {
    float: none;
    text-align: right;
    margin-bottom: 1em;
  }

  .vcard a,
  .jobtitle {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 360px) {
  .vcard a,
  .jobtitle {
    font-size: 1.125em;
  }

  ul.tablist li {
    margin: 0 1% 0 1%;
    width: 16%;
  }
}

/* todo even smaller screens, and any incapable client should fall back to a rollout version like media print */

@media print {
  .hidden {
    display: block !important;
  }

  .tab {
    color: #000 !important;
    background-color: #fff !important;

    &.fadetext article {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }

  ul.tablist li a.active {
    border-radius: 50% !important;
    margin-bottom: 0 !important;
    padding: 50% 0 50% 0 !important;
    background-position: 50% 50% !important;
  }

  #kontakt h2,
  .kontaktlinks,
  .toplink {
    display: none !important;
  }

  .vcard,
  .vcard a {
    text-align: left;
    font-size: 1.125em;
  }

  .vcard a:link,
  .vcard a:visited,
  .vcard a:hover,
  .vcard a:active {
    color: #000 !important;
  }

  #agb {
    position: relative !important;
    color: #000 !important;
  }
}
